<table class="table">
  <thead>
    <tr>
      <th scope="col" class="border-solid">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">address</th>
      <th scope="col">contact</th>
      <th scope="col">city</th>
      <th scope="col">Action</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let posts of posts">
      <th scope="row">{{ posts.id }}</th>
      <td>{{ posts.name }}</td>
      <td>{{ posts.email }}</td>
      <td >{{ posts.address }}</td>
      <td>{{ posts.contact }}</td>
      <td>{{ posts.city }}</td>

      <td><button (click)="deleteData(posts.id)" class="bg-red-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Delete</button>
    <button (click)="updateData(posts)" class="bg-yellow-600 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded-full ">Update</button></td>
    </tr>
  </tbody>
</table>
 <td><button  routerLink="/addstudent" class="bg-teal-900 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded-full ">Add</button></td>
